<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fox.commonview" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommonView" >
        <activity
            android:name=".practice.WrapContentCustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".practice.PracticeListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter >
        </activity >
        <activity android:name=".touch.TouchDemoActivity" />
        <activity android:name=".custom.SplashActivity" />
        <activity android:name=".custom.LoveActivity" />
        <activity android:name=".custom.BubbleActivity" />
        <activity android:name=".custom.ViewTestDemoSetActivity" />
        <activity android:name=".custom.SimpleViewTestActivity" />
        <activity android:name=".custom.LockPatternActivity" />
        <activity android:name=".custom.VerticalDragActivity" />
        <activity android:name=".custom.PaintCanvasActivity" />
        <activity android:name=".custom.ShapeActivity" />
        <activity android:name=".custom.ScrollActivity" />
        <activity android:name=".animator.ViewGroupTransitionActivity" />
        <activity android:name=".custom.CoordinatorLayoutActivity" />
    </application >

</manifest >